html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-accent: rgb(101, 35, 29); /* #b5231d */
  --color-main: rgb(13, 75, 160); /* #0d4ba0 */
  --color-light: rgb(113, 142, 200); /* #718ec8 */
  --color-lightest: rgba(113, 142, 200, 0.1);
}
