# reproducible builds
pip-compile

# think of it as the "async-flask"
# https://www.python-httpx.org/
httpx

# https://www.crummy.com/software/BeautifulSoup/bs4/doc/
beautifulsoup4

# think of it as a modern flask
fastapi
uvicorn[standard]
# faster json
ujson

# large key-value 
sqlitedict